nav a{
	color:white;
	background:blue;
	display:inline-block;
	border:2px solid black;
	margin-right:10px;
	width:100px;
}

nav .one{
	background:green;
}

p #one{
	background:pink;
}

li{
	margin:10px;
}

li a{
    padding-left:22px;
    text-decoration:none;
}

li a[href$=".org"]{
	background:#FFFF00;
}

li a[href$=".edu"]{
	background:#FF00FF;
}

li a[href$=".gov"]{
	background:#00FF00;
}